<% layout('../layout') -%>
<% script('//connect.facebook.net/en_US/sdk.js') -%>
<% script('/scripts/models/UserProfile.js') -%>
<% script('/scripts/socialmedia/facebook/FacebookApi.js') -%>
<% script('/scripts/socialmedia/facebook/main.js') -%>

<script>
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
                    'into this app.';
        } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
                    'into Facebook.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me?fields=name,email', function (response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';
            document.getElementById('userData').innerHTML = JSON.stringify(response);
            FB.api("/" + response.id + "/picture", function (image) {
                console.log(image);
                document.getElementById('image').innerHTML = "<img src=\"" + image.data.url + "\"/>";
            });
        });
        FB.api("/me/likes", function (response) {
            document.getElementById('userLikes').innerHTML = JSON.stringify(response);
            var favourites = [];
            for (var i = 0; i < response.data.length; i++) {
                favourites.push(response.data[i].name);
            }
            for (var i = 0; i < favourites.length; i++) {
                $.ajax({
                    url: "https://api.imgur.com/3/gallery/search/",
                    data: {q_any: favourites[i]},
                    type: "GET",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Client-ID 029da0d0e149d19');
                    },
                    success: function (response) {
                        if (response.success) {
                            renderComics(response.data);
                        }
                    }
                });
            }
        });
    }

    function renderComics(comics) {
        var comicsUl = document.getElementById("comicsList");
        for (var i = 0; i < comics.length; i++) {
            if (!comics[i].is_album) {
                var comicContainer = document.createElement("li");
                var descriptionParagraph = document.createElement("p");
                descriptionParagraph.innerHTML = comics[i].title;
                var comicImg = document.createElement("img");
                comicImg.setAttribute("style", "max-width:500px;");
                comicImg.src = comics[i].link;
                comicContainer.appendChild(descriptionParagraph);
                comicContainer.appendChild(comicImg);
                comicsUl.appendChild(comicContainer);
            }
        }
    }
</script>

<div id="status">
</div>
<br/>
<div id="userData">
</div>
<div id="image">
</div>
<br/>
<div id="userLikes"></div>
<ul id="comicsList"></ul>