<% layout('../layout') -%>
<% script('/scripts/models/UserProfile.js') -%>
<% script('/scripts/socialmedia/google/GoogleApi.js') -%>
<% script('/scripts/socialmedia/google/main.js') -%>
<% script('https://apis.google.com/js/client.js?onload=onLoadCallback') -%>