<!DOCTYPE html>
<html>
<head>
    <title>Facebook Login JavaScript Example</title>
    <meta charset="UTF-8">
</head>
<body>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
                    'into this app.';
        } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
                    'into Facebook.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1666594170277111',
            cookie: true,  // enable cookies to allow the server to access
                           // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v2.2' // use version 2.2
        });

        // Now that we've initialized the JavaScript SDK, we call
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

    };

    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me?fields=name,email', function (response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';
            document.getElementById('userData').innerHTML = JSON.stringify(response);
            FB.api("/" + response.id + "/picture", function (image) {
                console.log(image);
                document.getElementById('image').innerHTML = "<img src=\"" + image.data.url + "\"/>";
            });
        });
        FB.api("/me/likes", function (response) {
            document.getElementById('userLikes').innerHTML = JSON.stringify(response);
            var favourites = [];
            for (var i = 0; i < response.data.length; i++) {
                favourites.push(response.data[i].name);
            }
            for (var i = 0; i < favourites.length; i++) {
                $.ajax({
                    url: "https://api.imgur.com/3/gallery/search/",
                    data: {q_any: favourites[i]},
                    type: "GET",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Client-ID 029da0d0e149d19');
                    },
                    success: function (response) {
                        if(response.success){
                            renderComics(response.data);
                        }
                    }
                });
            }
        });
    }

    function renderComics(comics) {
        var comicsUl = document.getElementById("comicsList");
        for (var i = 0; i < comics.length; i++) {
            if(!comics[i].is_album){
                var comicContainer = document.createElement("li");
                var descriptionParagraph = document.createElement("p");
                descriptionParagraph.innerHTML = comics[i].title;
                var comicImg = document.createElement("img");
                comicImg.setAttribute("style", "max-width:500px;");
                comicImg.src = comics[i].link;
                comicContainer.appendChild(descriptionParagraph);
                comicContainer.appendChild(comicImg);
                comicsUl.appendChild(comicContainer);
            }
        }
    }
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email,user_likes,user_friends" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>
<br/>

<div id="userData">
</div>
<div id="image">
</div>
<br/>

<div id="userLikes"></div>
</body>
<ul id="comicsList"></ul>
</html>