<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Friends List:</title>
    <meta charset="UTF-8">
</head>
<h2>Friends List</h2>
<body>

<ol>
<% for(var i=0; i<data.users.length; i++) {%>
   <li>
    <div id="image">
         <img src= <%= data.users[i].profile_image_url %> >
    </div>
    ID:  <%= data.users[i].id %><br>
    Name:  <%= data.users[i].name %><br>
    Friends count:  <%= data.users[i].friends_count %><br>
  </li>
<% } %>
</ol>
</body>
</html>