<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Friends List:</title>
    <meta charset="UTF-8">
</head>
<h2>Images</h2>
<body>

<ol>
<% for(var i=0; i<data.length; i++) {%>
   <li>
    <div id="image">
         <img src= <%= data[i].image %> >
    </div>
  
    Name:  <%= data[i].title %><br>
   
  </li>
<% } %>
</ol>
</body>
</html>