<!DOCTYPE html>
<html>
<head>
</head>
<body>
<input type="button"  value="Login" onclick="login()" />
<input type="button"  value="Logout" onclick="logout()" />
<ul id="listOfJokes">
</ul>

<div id="profile"></div>
<script type="text/javascript">

    function logout()
    {
        gapi.auth.signOut();
        location.reload();
    }
    function login()
    {
        var myParams = {
            'clientid' : '43158932005-vj3ihqe2041imh772jfe4f52no4b4h91.apps.googleusercontent.com',
            'cookiepolicy' : 'single_host_origin',
            'callback' : 'loginCallback',
            'approvalprompt':'force',
            'scope' : 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read'
        };
        gapi.auth.signIn(myParams);
    }

    function loginCallback(result)
    {
        if(result['status']['signed_in'])
        {
            var request = gapi.client.plus.people.get(
                    {
                        'userId': 'me'
                    });
            request.execute(function (resp)
            {
                var email = '';
                if(resp['emails'])
                {
                    for(i = 0; i < resp['emails'].length; i++)
                    {
                        if(resp['emails'][i]['type'] == 'account')
                        {
                            email = resp['emails'][i]['value'];
                        }
                    }
                }

                var str = "Name:" + resp['displayName'] + "<br>";
                str += "Image:" + resp['image']['url'] + "<br>";
                str += "<img src='" + resp['image']['url'] + "' /><br>";

                str += "URL:" + resp['url'] + "<br>";
                str += "Email:" + email + "<br>";
                document.getElementById("profile").innerHTML = str;
            });

            var request = gapi.client.plus.activities.search({
                'query' : 'Awesome'
            });

            request.execute(function(resp) {
                var numItems = resp.items.length;
                for (var i = 0; i < numItems; i++) {
                    //console.log(resp.items[i]);
                }
            });

            for(var aux =1 ; aux<=5; aux++){
                  var ul = document.getElementById("listOfJokes");
                  var li = document.createElement("li");
                  li.appendChild(document.createTextNode(getJoke()));
                  ul.appendChild(li);
            }
        }

    }
    function onLoadCallback()
    {
        gapi.client.setApiKey('AIzaSyDhTk3re8l7vgAwEz-v9y2iZN6y4qYuK6w');
        gapi.client.load('plus', 'v1').then(function() { console.log('loaded.'); });
    }

    function getJoke() {

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "http://api.icndb.com/jokes/random", false );
        xmlHttp.send( null );
        var jsonResponse = JSON.parse(xmlHttp.responseText);
        return jsonResponse.value.joke;
    };

</script>

<script type="text/javascript">
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/client.js?onload=onLoadCallback';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>

</body>
</html>