<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <a onclick="facebookApi.login()"><img src="/Assets/Images/facebook.png" alt="Login with facebook"/></a>
    <a onclick="googleApi.login()"><img src="/Assets/Images/google.png" alt="Login with google"/></a>
    <a onclick="twitterApi.login()"><img src="/Assets/Images/twitter.png" alt="Login with twitter"/></a>
    <script src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script src="/Scripts/Models/UserProfile.js"></script>
    <script src="/Scripts/SocialMedia/FacebookApi.js"></script>
    <script src="/Scripts/SocialMedia/GooglePlusApi.js"></script>
    <script src="/Scripts/SocialMedia/TwitterApi.js"></script>
    <script>
        var facebookApi = new FacebookApi();
        var googleApi = new GooglePlusAPI();
        googleApi.init();
        var twitterApi = new TwitterApi();
    </script>
</body>
</html>