<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Twitter Login JavaScript Example</title>
    <meta charset="UTF-8">
     <script src="/Scripts/SocialMedia/TwitterApi.js"></script>
<script>
var twitterApi = new TwitterApi();
function getFriendsList()
    {    
    twitterApi.getFriendsList();
    };
function getFavourites()
    {    
    twitterApi.getFavourites();
    };
function FavouritesGags()
    {   
    window.location= "/FavouritesGags";
    };
function gags()
    { 

    window.location= "/gag";
    };
</script>
</head>
<body>

<div id="image">
    <img src= <%= user.profile_image_url %> >
</div>
Id : <%= user.id %> <br>
Name : <%= user.name %> <br>
Number of friends : <%= user.friends_count %>
<br>
Number of favourites : <%= user.favourites_count %>
<button onclick="getFriendsList()">FriendLIst</button><
<button onclick="getFavourites()">FavouritesList</button><BR>
<button onclick="FavouritesGags()">9gags</button><BR>
<form action="/gag">
  Query: 
  <input type="text" name="query" >
  <input type="submit" value="Search Gags">
</form> 
</body>
</html>