<% layout('layout') -%>
<% script('https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js') %>
<% script('/scripts/app.modules.js') %>
<% script('/scripts/entertainment/directives/audiosDirective.js') %>
<% script('/scripts/entertainment/directives/videosDirective.js') %>
<% script('/scripts/entertainment/entertainmentService.js') %>
<% script('/scripts/entertainment/entertainmentController.js') %>
<div class="row" ng-app="Entertainment" ng-controller="EntertainmentController as ctrl">

    <div class="col-md-12">

        <div class="row" vocab="http://schema.org/" typeof="ItemList">

            <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="item in ctrl.EntertainmentItems" property="itemListElement" typeof="CreativeWork">
                <div class="thumbnail">
                    <img ng-if="item.type === 'cuser:ImageItem'" ng-src="{{ item.src }}" alt="{{ item.title }}" property="image"/>

                    <div ng-if="item.type === 'cuser:AudioItem'" property="audio" typeof="AudioObject">
                        <div style="width: 100%;" audios code="item.src"></div>
                        <meta property="name" content="{{ item.title }}" />
                        <meta property="contentUrl" content="{{ item.src }}" />
                        <meta property="url" content="{{ item.url }}" />
                    </div>

                    <div ng-if="item.type === 'cuser:VideoItem'" property="video" typeof="VideoObject">
                        <div width="100%" frameborder="0" videos code="item.src"></div>
                        <meta property="name" content="{{ item.title }}" />
                        <meta property="contentUrl" content="{{ item.src }}" />
                        <meta property="url" content="{{ item.url }}" />
                    </div>

                    <div class="caption">
                        <h5 class="pull-right" property="publisher">{{ item.source.replace('cuser:', '') }}</h5>
                        <h4 ng-if="item.type === 'cuser:JokeItem'" property="name" content="{{ item.joke }}">
                            <a href="/item/{{ item.id }}">{{ item.joke }}</a>
                        </h4>
                        <h4 ng-if="item.type === 'cuser:ImageItem'" property="name" content="{{ item.title }}">
                            <a href="/item/{{ item.id }}">{{ item.title }}</a>
                        </h4>
                        <h4 ng-if="item.type === 'cuser:AudioItem'" property="name" content="{{ item.title }}">
                            <a href="/item/{{ item.id }}">{{ item.title.substr(0, 20) }}...</a>
                        </h4>
                        <h4 ng-if="item.type === 'cuser:VideoItem'" property="name" content="{{ item.title }}">
                            <a href="/item/{{ item.id }}">{{ item.title.substr(0, 20) }}...</a>
                        </h4>

                        <p ng-if="item.type === 'cuser:ImageItem'" property="description">{{ item.description }}</p>
                    </div>
                    <div class="ratings" property="aggregateRating" typeof="AggregateRating">
                        <p class="pull-right" property="reviewCount" content="{{ item.reviewsCount }}">{{ item.reviewsCount }} reviews</p>
                        <meta property="ratingValue" content="{{ item.rating }}"/>
                        <p>
                            <span class="glyphicon glyphicon-star{{item.rating < 1 ? '-empty' : ''}}"></span>
                            <span class="glyphicon glyphicon-star{{item.rating < 2 ? '-empty' : ''}}"></span>
                            <span class="glyphicon glyphicon-star{{item.rating < 3 ? '-empty' : ''}}"></span>
                            <span class="glyphicon glyphicon-star{{item.rating < 4 ? '-empty' : ''}}"></span>
                            <span class="glyphicon glyphicon-star{{item.rating < 5 ? '-empty' : ''}}"></span>
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>