<% layout('layout') -%>
<% script('https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js') %>
<% script('/scripts/app.modules.js') %>
<% script('/scripts/entertainment/directives/audiosDirective.js') %>
<% script('/scripts/entertainment/directives/videosDirective.js') %>
<% script('/scripts/entertainment/entertainmentService.js') %>
<% script('/scripts/entertainment/entertainmentItemController.js') %>
<% script('/scripts/userFeedback/feedbackService.js') %>
<% script('/scripts/userFeedback/feedbackController.js') %>
<% script('/scripts/entertainment/directives/starRating.js') %>

<link href="/stylesheets/starRating.css" rel="stylesheet">

<div class="row" ng-app="Entertainment" ng-controller="EntertainmentItemController as ctrl"
     ng-init="ctrl.init('<%= entertainmentItemId %>')">

    <div class="col-md-12">

        <div class="row">

            <div class="col-sm-12 col-lg-12 col-md-12">
                <div class="thumbnail" vocab="http://schema.org/" typeof="CreativeWork">
                    <img ng-if="ctrl.item.type === 'cuser:ImageItem'" ng-src="{{ ctrl.item.src }}"
                         alt="{{ ctrl.item.title }}" property="image"/>

                    <div ng-if="ctrl.item.type === 'cuser:AudioItem'" property="audio" typeof="AudioObject">
                        <div style="width: 100%;" audios code="ctrl.item.src"></div>
                        <meta property="name" content="{{ ctrl.item.title }}"/>
                        <meta property="contentUrl" content="{{ ctrl.item.src }}"/>
                        <meta property="url" content="{{ ctrl.item.url }}"/>
                    </div>

                    <div ng-if="ctrl.item.type === 'cuser:VideoItem'" property="video" typeof="VideoObject">
                        <div width="100%" style="min-height:55vh;" frameborder="0" videos code="ctrl.item.src"></div>
                        <meta property="name" content="{{ ctrl.item.title }}"/>
                        <meta property="contentUrl" content="{{ ctrl.item.src }}"/>
                        <meta property="url" content="{{ ctrl.item.url }}"/>
                    </div>

                    <div class="caption">
                        <h5 class="pull-right">{{ ctrl.item.source }}</h5>
                        <h4 ng-if="ctrl.item.type === 'cuser:JokeItem'" property="name" content="{{ ctrl.item.joke }}">
                            <a href="/item/{{ ctrl.item.id }}">{{ ctrl.item.joke }}</a>
                        </h4>
                        <h4 ng-if="ctrl.item.type === 'cuser:ImageItem'" property="name"
                            content="{{ ctrl.item.title }}">
                            <a href="/item/{{ ctrl.item.id }}">{{ ctrl.item.title }}</a>
                        </h4>
                        <h4 ng-if="ctrl.item.type === 'cuser:AudioItem'" property="name"
                            content="{{ ctrl.item.title }}">
                            <a href="/item/{{ ctrl.item.id }}">{{ ctrl.item.title }}</a>
                        </h4>
                        <h4 ng-if="ctrl.item.type === 'cuser:VideoItem'" property="name"
                            content="{{ ctrl.item.title }}">
                            <a href="/item/{{ ctrl.item.id }}">{{ ctrl.item.title }}</a>
                        </h4>

                        <p ng-if="ctrl.item.type === 'cuser:ImageItem'" property="description">{{ ctrl.item.description
                            }}</p>
                    </div>
                    <div class="ratings" property="aggregateRating" typeof="AggregateRating">
                        <p class="pull-right" property="reviewCount" content="{{ ctrl.item.reviewsCount }}">{{
                            ctrl.item.reviewsCount }} reviews</p>
                        <meta property="ratingValue" content="{{ ctrl.item.rating }}"/>
                        <p>
                            <span class="glyphicon glyphicon-star{{ctrl.item.rating < 1 ? '-empty' : ''}}"></span>
                            <span class="glyphicon glyphicon-star{{ctrl.item.rating < 2 ? '-empty' : ''}}"></span>
                            <span class="glyphicon glyphicon-star{{ctrl.item.rating < 3 ? '-empty' : ''}}"></span>
                            <span class="glyphicon glyphicon-star{{ctrl.item.rating < 4 ? '-empty' : ''}}"></span>
                            <span class="glyphicon glyphicon-star{{ctrl.item.rating < 5 ? '-empty' : ''}}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row container" ng-controller="FeedbackController as feedbackCtrl" ng-init="feedbackCtrl.init('<%= entertainmentItemId.toString() %>')">
            <div class="row text-center  col-sm-12 col-lg-12 col-md-12" >
                <h4>Rate this item</h4>
            </div>
            <div class="row text-center">

                <div class=" col-sm-12 col-lg-12 col-md-12" star-rating ng-model="feedbackCtrl.rating" max="5"></div>
            </div>
            <div class="row text-center">
                <textarea ng-model="feedbackCtrl.comment" class="form-control text-cente  col-sm-12 col-lg-12 col-md-12r" placeholder="Your Comment"
                          style='width:100%'></textarea>

            </div>
            <div class="row text-center">
                <button class="btn btn-success" ng-click='feedbackCtrl.save();' style='margin-top:10px;'>Post Review</button>
            </div>

            <div class="row">
                <br>
                <ul id="ul">
                    <li ng-repeat="feedback in feedbackCtrl.Feedbacks" >
                        <div  class="col-sm-12 col-lg-12 col-md-12" id="comment">
                        <div id="name">{{feedback.itemId}}
                            <div class="ratings pull-right" property="aggregateRating" typeof="AggregateRating">
                                <meta property="ratingValue" content="{{ feedback.rating }}"/>
                                <p>
                                    <span class="glyphicon glyphicon-star{{feedback.rating < 1 ? '-empty' : ''}}"></span>
                                    <span class="glyphicon glyphicon-star{{feedback.rating < 2 ? '-empty' : ''}}"></span>
                                    <span class="glyphicon glyphicon-star{{feedback.rating < 3 ? '-empty' : ''}}"></span>
                                    <span class="glyphicon glyphicon-star{{feedback.rating < 4 ? '-empty' : ''}}"></span>
                                    <span class="glyphicon glyphicon-star{{feedback.rating < 5 ? '-empty' : ''}}"></span>
                                </p>
                            </div>
                        </div>
                        <div id="text">{{feedback.text}} </div>
                        </div>
                        <BR> <BR> <BR>
                    </li>

                </ul>

            </div>
        </div>
    </div>

</div>