<% layout('layout') -%>
<% script('https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js') %>
<% script('https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places') %>
<% script('/scripts/app.modules.js') %>
<% script('/scripts/locations/locationsService.js') %>
<% script('/scripts/locations/locationsController.js') %>
<link href="/stylesheets/items.css" rel="stylesheet">

<div class="panel panel-primary" ng-app="Locations" ng-controller="LocationsController as ctrl">
    <div class="panel-heading">Please insert your current location</div>
    <div class="panel-body">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownLocations" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                {{ ctrl.SelectedLocation ? ctrl.SelectedLocation : "Select your location" }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownLocations" id="dropdownL">
                <li ng-repeat="location in ctrl.Locations">
                    <a ng-click="ctrl.selectLocation(location.name)">{{ location.name }}</a>
                </li>
                <li>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Location" ng-model="ctrl.SelectedLocation">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="ctrl.save()">Go!</button>
      </span>
                    </div><!-- /input-group -->
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-footer text-right">
        <button type="button" class="btn btn-primary" ng-click="ctrl.save()">Ok</button>
    </div>
</div>