<% layout('layout') -%>
<% stylesheet('/stylesheets/social-buttons.css') -%>
<div class="row text-center text-info">
    <p>In order to access CuSEr application, please sign in with one of your social accounts</p>
</div>
<br/>
<div class="row">
    <div class="col-md-12 social-buttons">
        <a class="btn btn-block btn-social btn-google" href="/authentication/google">
            <i class="fa fa-google"></i> Sign in with Google
        </a>
        <a class="btn btn-block btn-social btn-facebook" href="/authentication/facebook">
            <i class="fa fa-facebook"></i> Sign in with Facebook
        </a>
        <a class="btn btn-block btn-social btn-twitter" href="/authentication/twitter">
            <i class="fa fa-twitter"></i> Sign in with Twitter
        </a>
    </div>
</div>