<% layout('layout') -%>
<% script('https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js') %>
<% script('/scripts/app.modules.js') %>
<% script('/scripts/products/productsService.js') %>
<% script('/scripts/products/productsController.js') %>
<link href="/stylesheets/items.css" rel="stylesheet">

<div class="panel panel-primary" ng-app="Products" ng-controller="ProductsController as ctrl">
    <div class="panel-heading">Please select the ordered product</div>
    <div class="panel-body">
        <div class="row" id="row">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownLocations"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    {{ ctrl.SelectedProduct ? ctrl.SelectedProduct : "Select ordered product" }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownLocations" id="dropdown">
                    <li>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Product"
                                   ng-model="ctrl.SelectedProduct">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="ctrl.save()">Go!</button>
      </span>
                        </div><!-- /input-group -->
                    </li>
                    <li ng-repeat="product in ctrl.Products | filter:ctrl.SelectedProduct" >
                        <a ng-click="ctrl.selectProduct(product.name)" id="product">{{ product.name }}</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row" id="row">
            <input type="number" class="form-control" placeholder="Preparing minutes" min="1"
                   ng-model="ctrl.PreparingTime" id="time">
        </div>
    </div>
    <div class="panel-footer text-right">
        <button type="button" class="btn btn-primary" ng-click="ctrl.save()">Ok</button>
    </div>
</div>