#row
{
    margin-left: 0px !Important;
    margin-right: 0px !important;
}
.input-group
{
    margin-left: 15px !Important;
    margin-right: 15px !important;
}
#dropdown {
    overflow-y: scroll;
    height: 400px;
    width:100%
}
#dropdownL {
    overflow-y: scroll;
    width:100%
}
#dropdownLocations
{   overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width:100%;
}