.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}
.star-rating.readonly .star.filled {
  color: #666;
}
#comment{
  border: 2px solid;
  border-radius: 5px;
  background-color: #c7ddef;
}
#name{
  font-weight: bold;
  background-color: #5bc0de;
  margin-left: -15px;
  margin-right: -15px;
}
#ul{
  margin-left:-40px;
  list-style-type: none;
}